ul li{
    list-style-type: none;
    display: inline;
     font-size: 24px;
     background: #7CE2EE;
     padding:15px;
     border-radius: 15px;

}

#cabecera{
   text-align: center;
   font-family: Calibri;
   color: #0C75EA; 
   font-size: 30px
}
#menu{
     text-align: center;
     
}

#cuerpo{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-size: 20px
}
#pie{
    text-align: center;
    background: #7CE2EE;
    font-size: 15px;
    color: #3C424A;
}
form{
    width: 700px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    background: #7CE2EE;
}

#formulario h1 { text-align: center; 
}


label{
    display: inline-block;
    width: 150px;
    text-align: left;   
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em
}

input,textarea{
   width: 250px;
   font: 1em cursive;
   border: 1px solid black;
}
input:focus, textarea:focus{
    border-color: red;
} 
textarea{
    vertical-align: middle;
}

.boton{
  padding-right:500px;  
}
button{
    font-size: 1em;
  font-weight: bold;
}
a{
    text-decoration: none;
    color:#3C424A;
}

a:hover{
    font-size: 28px;
    color:  red;
}

